Repository intellisoftalpin/WatchTower, pull requests merged in 2023-07, with the labels that each got.

#15 [FIX] [ARC-209] No data is displaing after login into app
  android/app/build.gradle
  lib/ui/screens/nodes_overview.dart
Labels: bug, android, ios

#16 [FIX] [ARC-205] Changing the Release Artifacts Path
  .github/release-drafter.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: github-actions

#17 [FIX] [ARC-205] Windows deployment
  .github/workflows/pre-release.yml
Labels: github-actions

#18 [FIX] [ARC-178] The theme does not change when leaving app
  lib/main.dart
  lib/ui/common.dart
  lib/ui/screens/about_screen.dart
  lib/ui/screens/settings_screen.dart
  lib/ui/theme/theme_manager.dart
Labels: bug, android, windows

#19 [FIX] [ARC-212] The data is displayed after the end of the countdown/code refactoring
  lib/main.dart
  lib/ui/screens/about_screen.dart
  lib/ui/screens/login_screen.dart
  lib/ui/screens/nodes_overview.dart
Labels: bug, all-platforms
